# MOD007893 TRI2 F01CAM
# SID: 2226226

In [86]:
import numpy as np
import pandas as pd

In [64]:
x = [1,5,2,5]

In [65]:
df_x = pd.DataFrame(x)
print(df_x)

   0
0  1
1  5
2  2
3  5

In [66]:
y = {'Name' : ['Adam','Becca'],'Age': [24,26]}

In [68]:
df_y = pd.DataFrame(y)
print(df_y)

    Name  Age
0   Adam   24
1  Becca   26

In [69]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

In [70]:
df1 = pd.DataFrame(data, index=['first','second'],columns=['a','b'])
print (df1)

        a   b
first   1   2
second  5  10

In [71]:
df2 = pd.DataFrame(data, index=['first','second'],columns=['a','b1'])
print (df2)

        a  b1
first   1 NaN
second  5 NaN

In [72]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1,
2, 3, 4], index=['a', 'b', 'c', 'd'])}
z = pd.DataFrame(d)
print(z)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [73]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2,
3, 4], index=['a', 'b', 'c', 'd'])}
print(d)

{'one': a    1
b    2
c    3
dtype: int64, 'two': a    1
b    2
c    3
d    4
dtype: int64}

In [74]:
df = pd.DataFrame(d)
print(d)

{'one': a    1
b    2
c    3
dtype: int64, 'two': a    1
b    2
c    3
d    4
dtype: int64}

Adding/Removing columns

In [75]:
# Adding a new column to an existing DataFrame object with column label by passing new series
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [76]:
#Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']
print(df)

   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [77]:
del df['one'] # removing column using del function
print(df)

   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3   30.0  33.0
d    4    NaN   NaN

In [78]:
df.pop('two') #removing another column using pop function
print(df)

   three  four
a   10.0  11.0
b   20.0  22.0
c   30.0  33.0
d    NaN   NaN

Slicing in Pandas

In [80]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c',
'd'])}
df = pd.DataFrame(d)
print(df[2:4])

   one  two
c  3.0    3
d  NaN    4

Adding/Deleting Rows

In [82]:
df2 = pd.DataFrame([[5,6], [7,8]], columns = ['a', 'b'])
df = df.append(df2)
print(df)

   one  two    a    b
a  1.0  1.0  NaN  NaN
b  2.0  2.0  NaN  NaN
c  3.0  3.0  NaN  NaN
d  NaN  4.0  NaN  NaN
0  NaN  NaN  5.0  6.0
1  NaN  NaN  7.0  8.0

C:\Users\batesd\AppData\Local\Temp\ipykernel_17424\2131087559.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)

In [84]:
df = df.drop(0) #remove row 0
print(df)

   one  two    a    b
a  1.0  1.0  NaN  NaN
b  2.0  2.0  NaN  NaN
c  3.0  3.0  NaN  NaN
d  NaN  4.0  NaN  NaN
1  NaN  NaN  7.0  8.0

Reindexing

In [87]:
df1 = pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])
df1 = df1.reindex_like(df2)
print(df1)

       col1      col2      col3
0 -0.234854  1.032612  0.270198
1 -0.738468 -0.629226  0.173362
2  0.468785 -1.373137 -2.113660
3  0.508086 -0.203875 -0.886686
4  0.673714 -0.314300  0.037957
5 -0.775354  0.706489  1.170749
6  0.703910 -1.556037 -0.701802

In [92]:
cat = pd.Categorical(['a', 'b', 'c', 'a', 'b', 'c'])
print(cat)

['a', 'b', 'c', 'a', 'b', 'c']
Categories (3, object): ['a', 'b', 'c']

In [94]:
cat = pd.Categorical(["a", "c", "c", np.nan], categories=["b", "a", "c"])
df = pd.DataFrame({"cat":cat, "s":["a", "c", "c", np.nan]})
print(df)

   cat    s
0    a    a
1    c    c
2    c    c
3  NaN  NaN

In [96]:
df.describe()

       cat  s
count    3  3
unique   2  2
top      c  c
freq     2  2

In [97]:
df["cat"].describe()

count     3
unique    2
top       c
freq      2
Name: cat, dtype: object